@mixin basicFontSize($fontSize: 16px, $fontWeight: normal, $color: white) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

.genderDropdown button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 0px 14px;
  @include basicFontSize(16px, 600, #30373d);
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::after {
    display: none;
  }
  &:active,
  &:hover,
  &:focus-visible {
    color: #30373d;
    box-shadow: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: none;
  }

  select::-ms-expand {
    display: none; /* Hide arrow in IE */
  }
}

.genderDropdown .blackColor {
  @include basicFontSize(16px, 600, #30373d);

  &:active,
  &:hover,
  &:focus-visible {
    color: #000000;
  }
}

.menu a {
  &:active,
  &:hover,
  &:focus-visible {
    color: #000000;
    background: #ffffff 0% 0% no-repeat padding-box;
    outline: none;
  }
}
