@mixin basicFontSize($fontSize: 16px, $fontWeight: normal, $color: white) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
  }

  .mainDiv{
position: relative;
  }


  .rightDiv{
h5{
    margin-bottom: 4px;
    @include basicFontSize(16px,500 ,#000000 );
}

p{
    @include basicFontSize(16px,400 ,#30373D );
    margin-bottom: 0px;

}
  }


  @media screen and (max-width: 768px) {
   .imageWidth{
    width: auto!important;
   }
  }
  
  @media screen and (max-width: 576px) {
    .imageWidth{
     width: 100%!important;
    }
   }
   