@mixin basicFontSize($fontSize: 16px, $fontWeight: normal, $color: white) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
  }
.list{
    list-style: none;
    padding-left: 0px;
    &>li{
        margin-bottom: 15px;
      background-image:   url("/assests/ipo-zone/badge-check.svg");
      background-repeat: no-repeat;
      padding-left: 30px;
             @include basicFontSize(16px,400 ,#30373D );

        strong{
            @include basicFontSize(16px,600 ,#30373D );

        }
    }
}

.yelloBg{
    background: #FFFEE0 0% 0% no-repeat padding-box;
border-radius: 8px;
padding:18px 18px 20px 18px
}
  
  
  
   