.btn {
  background: #dfe2e4 0% 0% no-repeat padding-box;
  border-radius: 17px;
  opacity: 1;
  padding: 8px 24px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  color: #606f7b;
}
