.heading span {
  font-size: 14px;
  font-weight: 500;
  color: #606f7b;
}
.heading {
  border-bottom: none;
}
.trTable > td {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  border-bottom: none;
}

.sortBtn {
  border: none;
  background-color: transparent;
}

.skyBlueBgColor {
  & > td {
    background: #f5f7ff 0% 0% no-repeat padding-box;
  }
}

.whiteBgColor {
  & > td {
    background: #ffffff;
  }
}

.menu a {
  font-size: 16px;
  font-weight: 400;
  color: red;
  padding-left: 12px;
  padding-right: 12px;
  &:active,
  &:hover,
  &:focus-visible {
    color: red;
    background: #ffffff 0% 0% no-repeat padding-box;
    outline: none;
    font-weight: 500;
  }
}

.threeDot {
  background-color: transparent;
  border: none;
  color: #a2afe1;
  &::after {
    display: none;
  }
  &:active,
  &:hover,
  &:focus-visible {
    background-color: transparent;
    border-color: transparent;
    color: #a2afe1;
    box-shadow: none;
  }

  div {
    span {
      width: 3px;
      height: 3px;
      background-color: #a2afe1;
      border-radius: 50%;
    }
  }
}
