@mixin basicFontSize($fontSize: 16px, $fontWeight: normal, $color: white) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

.heading span {
  font-size: 14px;
  font-weight: 500;
  color: #606f7b;
}
.heading {
  border-bottom: none;
}
.trTable > td {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  border-bottom: none;
}
.addTo {
  cursor: pointer;
  @include basicFontSize(14px, 400, #000000);
  svg {
    min-width: 12px;
    min-height: 12px;
  }
  min-width: 160px;
  &:hover {
    @include basicFontSize(14px, 500, #000000);
  }
}

.readMore {
  min-width: none;
  cursor: pointer;
  a {
    text-decoration: none;
    @include basicFontSize(14px, 500, #000000);
    &:hover {
      @include basicFontSize(14px, 400, #3e63ff);
    }
  }
  svg {
    min-width: 6px;
    min-height: 10px;
  }
  min-width: 120px;
}

.sortBtn {
  border: none;
  background-color: transparent;
}

.skyBlueBgColor {
  & > td {
    background: #f5f7ff 0% 0% no-repeat padding-box;
  }
}

.whiteBgColor {
  & > td {
    background: #ffffff;
  }
}

@media screen and (max-width: 576px) {
  .addTo {
    svg {
      width: 15px;
    }
  }

  .readMore {
    svg {
      width: 15px;
    }
    min-width: 130px;
  }
}
