.firstChar {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
  background: purple;
}

.image {
  border-radius: 50%;
}
