* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // border: 1px solid red;
}

a {
  color: inherit;
  text-decoration: none;
}

.redColor {
  color: #ff4f55;
}
.greenColor {
  color: green;
}
.gray-bg {
  background-color: #f0f0f0;
  & > .toasterCss {
    background-color: #f0f0f0;
    z-index: -1 !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    top: 0px !important;
  }
}
.gray-border {
  border: 1px solid #d5d5d5;
}

.borderBottomGray {
  border-bottom: 1px solid #d5d5d5;
}
.white {
  background-color: white;
}

.red {
  border: 1px solid red;
}

.px12 {
  padding-left: 12px;
  padding-right: 12px;
}

.trandingDiv {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
  margin-bottom: 12px;
}

.left1 {
  height: 327px;
  border: 1px solid blue;
  margin-bottom: 12px;
}

.positionSticky {
  top: 100px;
  position: sticky;
}

.threeDotDropdown {
  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #a2afe1 !important;
    box-shadow: none !important;
  }
}
.genderDropdown {
  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    color: #a8a8a8 !important;
    box-shadow: none !important;
    background: #ffffff 0% 0% no-repeat padding-box !important;
    border: 1px solid #d1d1d1 !important;
    background-image: url("/assests/auth-flow/down-arrow.svg") !important;
    background-repeat: no-repeat !important;
    background-position: right 20px center !important;
  }
}

.changeDropdown {
  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    color: #30373d !important;
    box-shadow: none !important;
    background: #ffffff 0% 0% no-repeat padding-box !important;
    border: none !important;
  }
}

.genderDropdown {
  .btn.disabled,
  .btn:disabled,
  fieldset:disabled .btn {
    color: #000000 !important;
    box-shadow: none !important;
    background: #ffffff 0% 0% no-repeat padding-box !important;
    border: 1px solid #d1d1d1 !important;
    background-image: url("/assests/auth-flow/down-arrow.svg") !important;
    background-repeat: no-repeat !important;
    background-position: right 20px center !important;
    opacity: 1;
  }
}

// accrodian
.accrodianBtn {
  .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  & > button {
    &:focus {
      box-shadow: none;
    }
  }
}

.accrodian {
  .accordion-item:last-of-type {
    border-radius: 0px !important;
  }
}

.borderRed {
  border: 1px solid rgb(219, 49, 49) !important;
}

.mainSlider{
  .slick-prev.slick-disabled svg, .slick-next.slick-disabled svg{
    opacity: .30;
    display: none;
}
.slick-prev, .slick-next{
  top:45%;
}
.slick-prev {
  left: -20px;
  z-index: 2;
}

.slick-next {
  right: -15px;
  z-index: 2;
}

.slick-track{
  margin-left: unset;
}

}

.chart-container .chartjs-chart .tick {
  font-style: normal !important;
}

.table{
  th{
    padding: 14px!important;
  
  }

  td{
    padding: 14px!important;
  }
}

@media screen and (max-width: 575px) {
  .borderBottomGray {
    border: none;
  }
}

@media screen and (max-width: 992px) {
  .marginTop12 {
    margin-top: 12px;
  }
}
