@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin basicFontSize($fontSize: 16px, $fontWeight: normal, $color: white) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f0f0f0 !important;
}
a {
  color: inherit;
  text-decoration: none;
}

.glow-text {
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #dbeafe , 0 0 15px #dcfce7 ;
}

.redColor {
  color: #ff4f55;
}
.greenColor {
  color: green;
}
.gray-bg {
  background-color: #f0f0f0;
  & > .toasterCss {
    background-color: #f0f0f0;
    z-index: -1 !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    top: 0px !important;
  }
}
.gray-border {
  border: 1px solid #d5d5d5;
}

.borderBottomGray {
  border-bottom: 1px solid #d5d5d5;
}
.white {
  background-color: white;
}

.red {
  border: 1px solid red;
}

.px12 {
  padding-left: 12px;
  padding-right: 12px;
}

.trandingDiv {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
  margin-bottom: 12px;
  margin: 0 0.5rem;
}

.left1 {
  height: 327px;
  border: 1px solid blue;
  margin-bottom: 12px;
}

.positionSticky {
  top: 100px;
  position: sticky;
}
.positionSticky2 {
  top: 100px;
  position: sticky;
  padding-right: 0.5rem;
}


.threeDotDropdown {
  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #a2afe1 !important;
    box-shadow: none !important;
  }
}
.genderDropdown {
  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    color: #a8a8a8 !important;
    box-shadow: none !important;
    background: #ffffff 0% 0% no-repeat padding-box !important;
    border: 1px solid #d1d1d1 !important;
    background-image: url("/assests/auth-flow/down-arrow.svg") !important;
    background-repeat: no-repeat !important;
    background-position: right 20px center !important;
  }
}

.changeDropdown {
  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    color: #30373d !important;
    box-shadow: none !important;
    background: #ffffff 0% 0% no-repeat padding-box !important;
    border: none !important;
  }
}

.genderDropdown {
  .btn.disabled,
  .btn:disabled,
  fieldset:disabled .btn {
    color: #000000 !important;
    box-shadow: none !important;
    background: #ffffff 0% 0% no-repeat padding-box !important;
    border: 1px solid #d1d1d1 !important;
    background-image: url("/assests/auth-flow/down-arrow.svg") !important;
    background-repeat: no-repeat !important;
    background-position: right 20px center !important;
    opacity: 1;
  }
}

// accrodian
.accrodianBtn {
  .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  & > button {
    &:focus {
      box-shadow: none;
    }
  }
}

.accrodian {
  .accordion-item:last-of-type {
    border-radius: 0px !important;
  }
}

.borderRed {
  border: 1px solid rgb(219, 49, 49) !important;
}

.mainSlider {
  .slick-prev.slick-disabled svg,
  .slick-next.slick-disabled svg {
    opacity: 0.3;
    display: none;
  }
  .slick-prev,
  .slick-next {
    top: 45%;
  }
  .slick-prev {
    left: -20px;
    z-index: 2;
  }

  .slick-next {
    right: -15px;
    z-index: 2;
  }

  .slick-track {
    margin-left: unset;
  }
}

.chart-container .chartjs-chart .tick {
  font-style: normal !important;
}

.table {
  th {
    padding: 14px !important;
  }

  td {
    padding: 14px !important;
    vertical-align: middle;
  }
}

.tableScroll > div {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 5px;
    height: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #c6c6c6;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    // height: 2px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 5px;
    // height: 2px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #000000;
    border-radius: 5px;
    // height: 2px;
  }
}

.custom-checkbox-container {
  display: flex;
  align-items: center;
}

.custom-checkbox-input {
  display: none;
}

.custom-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.custom-checkbox-icon {
  width: 20px;
  height: 20px;
  border: 1px solid #aaaaaa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  box-sizing: border-box;
  border-radius: 50%;
}

.custom-checkbox-icon svg {
  display: none;
}

.custom-checkbox-input:checked
  + .custom-checkbox-label
  .custom-checkbox-icon
  svg {
  display: block;
}

.custom-checkbox-input:checked + .custom-checkbox-label .custom-checkbox-icon {
  border: 1px solid #3e63ff;
}

.borderRadius8 {
  border-radius: 8px;
}

.link {
  cursor: pointer;
  text-decoration: none;
  @include basicFontSize(14px, 500, #000000);
  &:hover {
    @include basicFontSize(14px, 400, #3e63ff);
  }
}

@media screen and (max-width: 990px) {
  .positionSticky2 {
   padding-right: 0rem;
  }
  .trandingDiv {
    border-radius: 8px;
    margin: 0 0;
  }
}

@media screen and (max-width: 1440px) {
  .containerPadding {
    max-width: 100% !important;
  }
}

@media screen and (min-width: 1440px) {
  .containerPadding {
    max-width: 1366px !important;
  }
}

@media screen and (max-width: 1200px) {
  .containerPadding {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

@media screen and (max-width: 992px) {
  .marginTop12 {
    margin-top: 12px;
  }
}

@media screen and (max-width: 576px) {
  .containerPadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }

  .borderBottomGray {
    border: none;
  }
  .trandingDiv {
    border-radius: 0px;
    margin: 0 0;
  }

  .px16 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .borderBottomGray2 {
    border-bottom: 1px solid #e0e0e0;
  }
}
