* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.gray-bg {
  background-color: #f0f0f0;
}

.white {
  background-color: white;
}

.red {
  border: 1px solid red;
}
