@mixin basicFontSize($fontSize: 16px, $fontWeight: normal, $color: white) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}


.searchBarSection {
  background: linear-gradient(
      180deg,
      rgba(163, 255, 234, 0.44) 0%,
      rgba(161, 179, 255, 0.44) 100%
    )
    0% 0% no-repeat padding-box;
  //   background: transparent linear-gradient(180deg, #a3ffea 0%, #a1b3ff 100%) 0%
  //     0% no-repeat padding-box;
  border-radius: 8px 8px 0px 0px;
}

// coach auto fil dropdown
div.inputBlock {
  position: relative;
  padding: 0px;
  margin: 0px 0px;
}



.typeahead {
  .inputSearchBox {
    z-index: 1;
    width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    overflow: scroll;
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 8px;
top:50px;

    &::-webkit-scrollbar {
      width: 0px;
      border-radius: 0px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
      border: 1px solid white;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: white;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: white;
    }

    & > div {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.linkDiv{
a{
  text-decoration: none;
}
}

.label{
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 0px;
  padding-bottom: 14px;
  padding-top: 14px;

  @include basicFontSize(14px,400 ,#606F7B );
}


 .div1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 2;
position: relative;
  & > button {
    background-color: transparent;
    border: none;
  }

  & > input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 14px;
    color: #000000;
    &::placeholder {
      color: #a8a8a8;
      font-weight: 400;
    }
  }
}

.selected{
  // border: 1px solid #DBDBDB;
  background-color: rgba(240, 240, 240, .8);
  // box-shadow: 0px 3px 6px #00000029;
  // .label{
  //   border-bottom:none;
  // }
}
