.topGainer {
  margin-top: 12px;
}

.topGainer > h5 {
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}

.barContainer {
  position: relative;
  & > span {
    position: absolute;
    bottom: 3px;
    font-size: 8px;
    color: #868686;
    font-weight: normal;
  }
}
